*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
header{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid;
    height: 100px;
    line-height: 100px;
}
.search{
    width: 900px;
    height: 200px;
    background-color: #bbb;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.select{
    position: absolute;
    top: 80px;
    margin-left: 100px;
}
select{
    width: 200px;
    height: 40px;
}
.select > label{
    position: absolute;
    bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}
.theme select{
    position: absolute;
    left: 600px;
    top: 80px;
}
.theme > label{
    position: absolute;
    left: 600px;
    font-size: 20px;
    font-weight: bold;
    top: 40px;
}
.input-search{
    position: absolute;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    left: 700px;
    top: 150px;
    cursor: pointer;
}



.section {
    position: relative;
    top: 60px;
    margin-top: 50px;
    background-color: lightgray;
    width: 80%;
    margin: 0 auto;
    /* height: 100vh; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 2px solid black;
}
.section > .btn1 {
    padding-left: 20px;
}
.section > .btn1 > button {
    height: 30px;
    border: none;
    background-color: #ffffff;
    text-align: start;
    width: 150px;
    padding: 5px 10px;
}
.section > .btn2 {
    padding-right: 20px;
}
.section > .btn2 > button{
    height: 30px;
    border: none;
    background-color: inherit;
    color: #ffffff;
    padding: 5px 10px;
    background-color: rgb(52, 49, 49);
}


.camping-content {
    padding-left: 200px;
    background-color: rgb(224, 238, 244);
    width: 80%;
    margin: 0 auto;
    height: 150vh;
}

.camping_img{
    position: relative;
}
.camping_img > a > img{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 100px;
}.camping_text{
    position: absolute;
    top: 50px;
    left: 350px;
   line-height: 150px;
}


.camping_img2{
    position: relative;
}
.camping_img2 > a > img{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 350px;
}
.camping_text2{
    position: absolute;
    top: 300px;
    left: 350px;
   line-height: 150px;
}



.camping_img3{
    position: relative;
}
.camping_img3 > a > img{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 600px;
}
.camping_text3{
    position: absolute;
    top: 550px;
    left: 350px;
   line-height: 150px;
}



.camping_img4{
    position: relative;
}
.camping_img4> a > img{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 850px;
}
.camping_text4{
    position: absolute;
    top: 800px;
    left: 350px;
   line-height: 150px;
}



.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo > .main-logo{
    width: 100px;
    height: 100px;
}
#se {
    border: none;
    background-color: rgb(243, 243, 243);
    height: 40px;
    padding-right: 10px;
    padding: 5px 10px;
    border-radius: 6px;
}
.dropdown-nav {
    position: relative;
    height: 6vh;
    background-color: white;
    }
    
    .dropdown-nav .dropdown-preview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 10px; */
    height: 6vh;
    }
    
    .dropdown-nav .dropdown-preview ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    }
    
    .dropdown-nav .dropdown-preview ul li {
    font-weight: bold;
    cursor: pointer;
    }
    .dropdown-content {
    transition: 0.45s;
    height: 0;
    overflow: hidden;
    }
    
    .dropdown-preview:hover+.dropdown-content,
    .dropdown-content:hover {
    position: absolute;
    height: 30vh;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid black;
    z-index: 100;
    background-color: white;
    left: 0;
    right: 0;
    top: 6vh;
    }
    
    .dropdown-content {
    display: flex;
    justify-content: center;
    gap: 25px;
    }
    
    .dropdown-content .row {
    width: 250px;
    position: relative;
    margin-top: 20px;
    }
    .dropdown-content > .row > .column {
        text-align: center;
    }
    
    .dropdown-content .row .column {
    display: flex;
    flex-direction: column;
    }
    
    .dropdown-content .row .column a {
    color: gray;
    line-height: 30px;
    }
    
    .dropdown-content .row .column a:hover {
    text-decoration: underline;
    }

