<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>캠핑장</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
        <div class="logo">
        <img src="./img/right-logo.gif" alt="sns" class="insta">
        <img src="./img/pngwing.com.png" alt="logo" class="main-logo">
        <input type="search" id="search" placeholder="검색어를 입력하세요.">
        </div>
    </header>
    <hr>
    <nav class="dropdown-nav">
        <div class="dropdown-preview">
          <ul>
            <li><a href="#">캠핑장 찾기</a></li>
            <li><a href="#">캠핑 플러스</a></li>
            <li><a href="#">고객센터</a></li>
          </ul>
        </div>
        <div class="dropdown-content">
          <div class="row">
            <div class="column">
              <a href="search.ejs">캠핑장 검색</a>
              <a href="#">지도로 검색</a>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <a href="#">캠핑소식</a>
              <a href="#">안전한캠핑즐기기</a>
              <a href="introduction.ejs">캠핑장 안전수칙 동영상</a>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <a href="#">공지사항</a>
              <a href="#">캠핑장정보 수정요청</a>
              <a href="#">등록 야영장 확인 문의</a>
              <a href="#">캠핑장 공지사항</a>
            </div>
          </div>
        </div>
      </nav>
	
	  <div class="section">
        <div class="btn1">
            <button type="button">조회순</button>
        </div>
        <div class="btn2">
            <button type="button"><a href="search.ejs">리스트로 보기</a></button>
        </div>
    </div>

	<div class="map-content">
		<div id="map" style="width:1000px;height:900px;"></div>
		<div class="p">
			<p id="click">[경상남도 사천시] 사천비토솔섬오토캠핑장</p>
			<p id="click">경남 사천시 서포면 토끼로 245-29</p>
			<p id="click">055-854-0404</p>
		</div>
	</div>
	<div class="right-p-tag">
		<p class="click2">[강원도 정선군] 동강전망휴양림오토캠핑장</p>
		<p class="click2">강원 정선군 신동읍 동강로 916-212</p>
		<p class="click2">033-560-3464</p>
	</div>
  <div class="p-tag">
    <p class="click3">[전라북도 정읍시] 정읍시 내장산 국민여가캠핑장</p>
    <p class="click3">전라북도 정읍시 내장산로 390</p>
    <p class="click3">063-538-7955</p>
  </div>
  <div class="tag">
    <p class="click4">[충청북도 충주시] 충주카누캠핑장</p>
    <p class="click4">충북 충주시 동량면 지등로 1276-4</p>
    <p class="click4">010-4479-5587</p>
  </div>
  <div class="ta">
    <p class="click5">[인천시 서구] 수도권매립지 캠핑장</p>
    <p class="click5">인천 서구 정서진로 500 (오류동)</p>
    <p class="click5">032-569-7847</p>
  </div>


	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5e56b723923cd3c2af91be780db74e57"></script>
	<script src="/js/script.js"></script>
</body>
</html>