<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>캠핑장</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	<header>
		
	</header>





	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5e56b723923cd3c2af91be780db74e57"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>
</body>
</html>