<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑장 안전수칙 동영상</title>
    <link rel="stylesheet" href="/css/introduction.css">
</head>
<body>
    <header>
        <div class="logo">
        <img src="/img/right-logo.gif" alt="sns" class="insta">
        <img src="/img/pngwing.com.png" alt="logo" class="main-logo">
        <input type="search" id="se" placeholder="검색어를 입력하세요.">
        </div>
    </header>
    <nav class="dropdown-nav">
        <div class="dropdown-preview">
          <ul>
            <li><a href="#">캠핑장 찾기</a></li>
            <li><a href="#">캠핑 플러스</a></li>
            <li><a href="#">고객센터</a></li>
          </ul>
        </div>
        <div class="dropdown-content">
          <div class="row">
            <div class="column">
              <a href="search.ejs">캠핑장 검색</a>
              <a href="#">지도로 검색</a>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <a href="#">캠핑소식</a>
              <a href="#">안전한캠핑즐기기</a>
              <a href="introduction.ejs">캠핑장 안전수칙 동영상</a>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <a href="#">공지사항</a>
              <a href="#">캠핑장정보 수정요청</a>
              <a href="#">등록 야영장 확인 문의</a>
              <a href="#">캠핑장 공지사항</a>
            </div>
          </div>
        </div>
      </nav>

      <section>
        <div class="layout">
            <p class="tt1">캠핑플러스 <br>
                캠핑을 시작한다면 이들처럼! 캠핑의 다양한 정보가 가득
            </p>
        </div>        
      </section>
      <article>
        <p>캠핑장 안전수칙 동영상</p>
      </article>
      <aside>
        <div class="aside-content">
            <button type="button">제목 + 내용</button>
            <input type="search" placeholder="검색어를 입력하세요.">
        </div>
      </aside>
      <footer>
        <div class="footer">
            <img src="/img/icon_h3.gif" alt="아이콘">
            <p class="top">캠핑장 안전수칙 동영상</p>
        </div>

        <div class="img-box">
            <ul>
                <li>
                    <img src="/img/차박 안전수칙.gif" alt="차박 안전수칙">
                </li>
                <li>차박, OOO은 꼭 챙겨가세요 | 차박 안전수칙 | 꿀템 득템!!</li>
                <li>관리자   |   2021-10-19</li>
            </ul>
        </div>

        <div class="img-box2">
            <ul>
                <li>
                    <img src="/img/캠핑카-안전수칙.png" alt="캠핑카 안전수칙">
                </li>
                <li>캠핑카, 카라반 캠핑 안전상식~!</li>
                <li>관리자   |   2021-10-19</li>
            </ul>
        </div>

        <div class="img-box3">
            <ul>
                <li>
                    <img src="/img/캠퍼스-실험실.png" alt="캠퍼스 실험실">
                </li>
                <li>과태료가 300만 원? 과태료 피하면서 캠핑하는 방법</li>
                <li>관리자   |   2022-11-02</li>
            </ul>
        </div>
        
        <div class="img-box4">
            <ul>
                <li>
                    <img src="./img/캠핑장-사고예방-안전수칙.png" alt="캠핑장 사고예방 안전수칙">
                </li>
                <li>캠핑장 사고예방 안전수칙 함께 알아볼까요?</li>
                <li>관리자   |   2020-12-04</li>
            </ul>
        </div>

        <div class="img-box5">
            <ul>
                <li>
                    <img src="./img/동절기-캠핑장-안전수칙_1.png" alt="동철기 캠핑장 안전수칙">
                </li>
                <li>동철기 캠핑장 안전 수칙에 대해서 알아볼까요?</li>
                <li>관리자   |   2019-03-03</li>
            </ul>
        </div>
      </footer>



      <div class="hide-footer">
        <header class="footer_header">
            <li>개인정보처리방침</li>
            <li>전자우편무단수집거부</li>
            <li>캠핑장 등록안내</li>
            <li>미등록 운영장불법신고</li>
        </header>
        <hr>
        <ul class="notice">
            <li>서울특별시 용산구 회나무로12길 27</li>
            <li>대표전화) 02 - 798 - 3641 ~ 3 팩스) 02 - 794 - 0822</li>
            <li>Copyright (c) 2007 서울디지텍고등학교. All rights reserved</li>
        </ul>
    </div>
</body>
</html>