<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑장 검색화면</title>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <header>
        <div class="logo">
        <img src="/img/right-logo.gif" alt="sns" class="insta">
        <img src="./img/pngwing.com.png" alt="logo" class="main-logo">
        <input type="search" id="se" placeholder="검색어를 입력하세요.">
        </div>
    </header>
    <nav class="dropdown-nav">
        <div class="dropdown-preview">
          <ul>
            <li><a href="#">캠핑장 찾기</a></li>
            <li><a href="#">캠핑 플러스</a></li>
            <li><a href="#">고객센터</a></li>
          </ul>
        </div>
        <div class="dropdown-content">
          <div class="row">
            <div class="column">
              <a href="search.ejs">캠핑장 검색</a>
              <a href="#">지도로 검색</a>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <a href="#">캠핑소식</a>
              <a href="#">안전한캠핑즐기기</a>
              <a href="introduction.ejs">캠핑장 안전수칙 동영상</a>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <a href="#">공지사항</a>
              <a href="#">캠핑장정보 수정요청</a>
              <a href="#">등록 야영장 확인 문의</a>
              <a href="#">캠핑장 공지사항</a>
            </div>
          </div>
        </div>
      </nav>


    <div class="search">
        <div class="select">
        <label for="title">지역</label>
        <select name="title" id="title">
            <option value="gyeong-gi">경기도</option>
            <option value="gangwon">강원도</option>
            <option value="Nchungcheong">충청북도</option>
            <option value="Schungcheong">충청남도</option>
            <option value="Njeollado">전라북도</option>
            <option value="Sjeollado">전라남도</option>
            <option value="NGyeongsangdo">경상북도</option>
            <option value="SGyeongsangdo">경상남도</option>
            <option value="jeju">제주도</option>
    </select>
    <select name="search" id="Gu">
        <option value="seoul">서울특별시</option>
        <option value="busan">부산광역시</option>
        <option value="deagu">대구광역시</option>
        <option value="incheon">인천광역시</option>
        <option value="daejeon">대전광역시</option>
        <option value="gwangju">광주광역시</option>
        <option value="ulsan">울산광역시</option>
        <option value="sejong">세종특별자치시</option>
    </select>
</div>
    <div class="theme">
        <label for="theme">테마</label>
        <select name="theme" id="theme">
            <option value="city">도시</option>
            <option value="island">섬</option>
            <option value="mauntain">산</option>
            <option value="Valley">계곡</option>
            <option value="beach">해변</option>
        </select>
    </div>
    <input type="submit" value="캠핑장 검색" class="input-search">
    </div>

    <div class="section">
        <div class="btn1">
            <button type="button">조회순</button>
        </div>
        <div class="btn2">
            <button type="button"><a href="index.ejs">지도로 보기</a></button>
        </div>
    </div>
    <div class="camping-content">
        <div class="camping_img">
            <a href="https://gocamping.or.kr/bsite/camp/info/read.do?c_no=7756&viewType=read01&listOrdrTrget=c_rdcnt&searchDo=,3"><img src="./img/오토캠핑장.jpg" alt="img"></a>
        <div class="camping_text">
            <h3>[경기남도 사천시] 사천비토솔섬오토캠핑장</h3>
            <p>일몰과 바다 전망이 장관인 솔섬오토캠핑장.</p>
        </div>
        <div class="camping_img2">
            <a href="https://gocamping.or.kr/bsite/camp/info/read.do?c_no=7756&viewType=read01&listOrdrTrget=c_rdcnt&searchDo=,3"><img src="./img/오토캠핑장2.jpg" alt="img"></a>
        <div  class="camping_text2">
            <h3>[강원도 정선군]동강전망휴양림오토캠핑장</h3>
            <p>운해와 야경이 일품인 휴양림속 야영장</p>
        </div>
        <div class="camping_img3">
            <a href="https://gocamping.or.kr/bsite/camp/info/read.do?c_no=7756&viewType=read01&listOrdrTrget=c_rdcnt&searchDo=,3"><img src="./img/오토캠핑장3.jpg" alt="img"></a>
        <div  class="camping_text3">
            <h3>[전라북도 정읍시]정읍시 내장산 국민여가캠핑장</h3>
            <p>내장산에서 불어오는 상쾌한 바람 속에 캠핑을 즐기자.</p>
        </div>
        <div class="camping_img4">
            <a href="https://gocamping.or.kr/bsite/camp/info/read.do?c_no=7756&viewType=read01&listOrdrTrget=c_rdcnt&searchDo=,3"><img src="./img/오토캠핑장4.jpg" alt="img"></a>
        <div  class="camping_text4">
            <h3>[충청북도 충주시]충주가누캠핑장</h3>
            <p>아름다운 충주호가 눈앞에 펼쳐지는 오토캠핑장</p>
        </div>
    </div>

</body>
</html>